<h2>Server URL:</h2>
<div class='container-fluid typeahead-demo'>
    <input type="text" ng-model="selectedServer" uib-typeahead="server for server in servers | filter:$viewValue | limitTo:8" class="form-control"
    typeahead-on-select="selectServer($item)">
      
      <h2>Services</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="service in services">
                        <td>{{service.name}}</td>
                        <td>{{service.status}}</td>
                        <td>
                            <button ng-click="checkService(service)">Check Status</button>
                            <button ng-click="checkService(service)">Submit Payload</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>