<div class='container-fluid typeahead-demo'>

    <h4>Static arrays</h4>
    <pre>Model: {{selected | json}}</pre>
    <input type="text" ng-model="selected" uib-typeahead="server for server in servers | filter:$viewValue | limitTo:8" class="form-control"
    typeahead-on-select="selectServer($item)">

    
    <h2>Bordered with Striped Rows</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="service in services">
                        <td>{{service.name}}</td>
                        <td>{{service.status}}</td>
                        <td>{{service.action}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>